*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
}

ul {
  list-style: none;
}

input:focus {
  outline-color: $secondary;
}

/* Bootstrap Overrides */
.row {
  margin: 0 !important;
}
.bg-light {
  background: #eee !important;
}
