*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: $font-system;
}

ul {
  list-style: none;
}

input {
  &:focus {
    outline-color: $secondary;
  }
  &[type='text'] {
    padding-left: 3px;
  }
  &[type='color'] {
    height: 100%;
    width: 15px;
    margin-right: 4px;
    background-color: $grey-light;
  }
}

/* Bootstrap Overrides */
.row {
  margin: 0 !important;
}
.bg-light {
  background: $grey-light !important;
}
.btn-outline-primary {
  border: 1px solid white;
  background: $primary;
  color: $white;
  &:hover {
    background: $white;
    color: $primary;
  }
}
.text-muted {
  color: $grey !important;
  font-size: 70% !important;
}
