*, ::after, ::before {
  margin: 0;
  padding: 0; }

  html {
    box-sizing: inherit; }

    body {
      box-sizing: border-box;
      font-family: Montserrat, sans-serif; }

      ul {
        list-style: none; }

        input:focus {
          outline-color: #f3969a; }

          .row {
            margin: 0 !important; }

            .bg-light {
              background: #eee !important; }

              #msgpane {
                min-height: 40vh;
                max-height: 50vh;
                overflow: scroll; }

                form.message {
                  width: 100%; }
                  form.message input#message {
                    padding: 4px 0; }

li.channel.current_room {
  font-weight: 900;
  color: #78c2ad; }
  li.channel:hover {
    cursor: pointer;
    text-decoration: underline; }

li.user {
  position: relative; }
  li.user::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #78c2ad;
    position: absolute;
    top: calc(50% - 5px);
    left: 0; }
