*, ::after, ::before {
  margin: 0;
  padding: 0; }

  html {
    box-sizing: inherit; }

    body {
      box-sizing: border-box;
      font-family: Montserrat, sans-serif; }

      .current_room {
        font-weight: 900;
        color: blue; }

        #msgpane {
          min-height: 40vh;
          overflow: scroll; }
