{% extends "layout.html" %}

{% block title %}
    Display Name
{% endblock %}

{% block main %}

		<form action="/setcookie" method="POST">
		{% if error %}
    		<p class=error><strong>Shoot! </strong> {{ error }}
  		{% endif %}
			<div class="form-group">
				<label for="name">Display Name:</label>
				<input type="text" class="form-control" name="display-name" id="display-name" aria-describedby="helpId" aria-hidden="true" placeholder="Name To Display">
				<small id="helpId" class="form-text text-muted">This is the name that will show when you send messages.</small>
				</div>
			<button type="submit" class="btn btn-primary" id="btn-display-name"">Start</button>
		</form>

	<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}