<!DOCTYPE html>

<html lang="en" ng-app="ChatApp">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/favicon/apple-touch-icon.png')}}"/>
		<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='assets/favicon/favicon-32x32.png')}}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='assets/favicon/favicon-16x16.png')}}"/>
		<link rel="manifest" href="{{url_for('static',filename='assets/favicon/site.webmanifest')}}"/>
		<link rel="mask-icon" href="{{url_for('static', filename='assets/favicon/safari-pinned-tab.svg')}}" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#00aba9" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Bootstrap CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
		<!-- Custom -->
		{% assets "scss_all" %}
			<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
		{% endassets %}

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script>$.noConflict()</script>
		<!-- Global helpers (ES5) -->
		<script src="{{url_for('static', filename='js/cookieFns.js')}}"></script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script src="{{url_for('static', filename='js/controller.js')}}"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/0.15.7/superagent.min.js"></script>
		<!-- Boostrap scripts -->
		<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<!-- Socket scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>


		<title>Flack: {% block title %}{% endblock %}</title>
	</head>

	<body>
		<main class="main container pt-3" ng-controller="ChatController">
		<h1>Flack</h1>
		<!-- Template content -->
			{% block main %}{% endblock %}
		</main>

		<footer class="small text-center text-muted mt-5">
			&copy; 2018 Ethan Marsh
		</footer>
	</body>
</html>
